<ul class="aa-catg-nav{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
    {{#each categories}}
        <li >
        {{#if ../theme_settings.navigation_design '===' 'simple'}}
            {{> components/common/navigation-list}}
        {{/if}}
        {{#if ../theme_settings.navigation_design '===' 'alternate'}}
            {{> components/common/navigation-list-alternate}}
        {{/if}}
        </li>
    {{/each}}
    {{#unless theme_settings.hide_content_navigation}}
        {{#each pages}}
             
         {{/each}}
    {{/unless}}
</ul>