<!-- Testimonial -->
<section id="aa-testimonial">  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-testimonial-area">
            <ul class="aa-testimonial-slider">
              <!-- single slide -->
              <li>
                <div class="aa-testimonial-single">
                <img class="aa-testimonial-img" src="{{cdn '../../assets/custom/img/img2.jpg'}}" alt="testimonial img">
                  <span class="fa fa-quote-left aa-testimonial-quote"></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                  <div class="aa-testimonial-info">
                    <p>Allison</p>
                    <span>Designer</span>
                    <a href="#">Dribble.com</a>
                  </div>
                </div>
              </li>
              <!-- single slide -->
              <li>
                <div class="aa-testimonial-single">
                <img class="aa-testimonial-img" src="{{cdn '../../assets/custom/img/chalo-garcia-Sv586r5A99w-unsplash.jpg'}}" alt="testimonial img">
                  <span class="fa fa-quote-left aa-testimonial-quote"></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                  <div class="aa-testimonial-info">
                    <p>KEVIN MEYER</p>
                    <span>CEO</span>
                    <a href="#">Alphabet</a>
                  </div>
                </div>
              </li>
               <!-- single slide -->
              <li>
                <div class="aa-testimonial-single">
                <img class="aa-testimonial-img" src="{{cdn '../../assets/custom/img/img2.jpg'}}" alt="testimonial img">
                  <span class="fa fa-quote-left aa-testimonial-quote"></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.</p>
                  <div class="aa-testimonial-info">
                    <p>Luner</p>
                    <span>COO</span>
                    <a href="#">Kinatic Solution</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Testimonial -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{cdn '../../../assets/custom/js/bootstrap.js'}}"></script>
  <script type="text/javascript" src="{{cdn '../../../assets/custom/js/jquery.smartmenus.js'}}"></script>
  <script type="text/javascript" src="{{cdn '../../../assets/custom/js/jquery.smartmenus.bootstrap.js'}}"></script>
  <script src="{{cdn '../../../assets/custom/js/sequence.js'}}"></script>
  <script src="{{cdn '../../../assets/custom/js/sequence-theme.modern-slide-in.js'}}"></script>
  <script type="text/javascript" src="{{cdn '../../../assets/custom/js/jquery.simpleGallery.js'}}"></script>
  <script type="text/javascript" src="{{cdn '../../../assets/custom/js/jquery.simpleLens.js'}}"></script>
  <script type="text/javascript" src="{{cdn '../../../assets/custom/js/slick.js'}}"></script>
  <script type="text/javascript" src="{{cdn '../../../assets/custom/js/nouislider.js'}}"></script>
  <script src="{{cdn '../../../assets/custom/js/custom.js'}}"></script>